



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Footer.css */
#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #d6d6d6; 
    color: rgb(0, 0, 0);
}

#navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#navbar h1 {
    margin: 0;
}

#navbar input[type="search"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
}
.content{
  align-items: center;
  text-align: center;
}

#navbar select {
    padding: 5px;
    border: none;
    border-radius: 3px;
}
.logo{
  width: 1px;
  height: 1px;
}


    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:rgb(255, 255, 255);
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:rgb(41, 41, 41);
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#c1c1c1;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }

    .up{margin-left: 38cm}
    
    .mySlides {display:none;
   
  }
  .download-button{display:none;
   
  }



  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.596);
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
  }
button{background-color: #e0e0e0;
color: white;}
@keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }
  .neons h1 {
    font-size: 9rem;
    text-align: center;
     font-weight: bold;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
       from {
        color: #e5e5e5;
      text-shadow: 0 0 10px #535353, 0 0 20px #bcbcbc, 0 0 30px #484848, 0 0 40px #d0d0d0, 0 0 50px #ffffff, 0 0 60px #878787, 0 0 70px #4a4a4a, 0 0 90px #5c5c5c;
    }
    
    to {
       color: rgb(196, 196, 196);
      text-shadow: 0 0 20px #9f9f9f, 0 0 30px #696969, 0 0 40px #8e8e8e, 0 0 50px #b8b8b8, 0 0 60px #cfcfcf, 0 0 70px #c8c8c8, 0 0 80px rgb(87, 87, 87), 0 1 90px #bababa;
    }
  }
  .a{
    color:#818181;
  }

  :root {
    --primary: 237, 94%, 81%;
    --background: 266, 16%, 92%;
    --background-secondary: 256, 12%, 12%;
    --background-secondary-dark: 256, 10%, 10%;
    --background-secondary-light: 257, 11%, 16%;
    --text-primary: 0, 0%, 0%;
    /* Colors */
    --black: 0, 0%, 0%;
    --white: 0, 0%, 100%;
    --quite-gray: 0, 0%, 50%;
    --grooble: 10, 28%, 93%;
    /* Sizes */
    --heading-large: 5.6rem;
    --heading-medium: 3.6rem;
    --heading-small: 2.4rem;
    --paragraph: 1.11rem;
    --navbar-buttons: 2.4rem;
    /* misc */
    --transition-main: .175, .685, .32;
    /* Fonts */
    --font-main: "Poppins";
}



*, *::before, *::after {
    box-sizing: inherit;
}
html, body {
    margin: 0;
    width: 100%;
    color: hsl(var(--text-primary));
    font-family: var(--font-main);
    background-color: hsl(var(--background));
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
ul, ol {
    margin: 1em 0;
}

form {
    margin: 0;
}
fieldset {
    margin: 0;
    padding: .5em 0;
    border: none;
}
input {
    padding: .8em 1.2em;
    font-size: var(--paragraph);
    background-color: hsl(var(--grooble));
    border: 2px solid hsl(var(--grooble));
    outline: none;
}
textarea {
    padding: .8em 1.2em;
    font-size: var(--paragraph);
    font-family: var(--font-main);
    background-color: hsl(var(--grooble));
    border: 2px solid hsl(var(--grooble));
    outline: none;
}
input, textarea {
    transition: all .2s ease-in-out;
}
input:hover, input:focus, textarea:hover, textarea:focus {
    box-shadow:
            0 0 0 2px hsl(var(--black)),
            0 0 0 3px hsl(var(--white));
    border: 2px solid transparent;
}
select {
    padding: .8em 1.2em;
    border: 1px solid hsl(var(--black));
    font-size: var(--paragraph);
    outline: none;
}



.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* Columns */
.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.flexbox-col-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-col-left-ns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-col-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
.flexbox-col-start-center {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
/* Spacings */
.flexbox-space-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* =========
    Classes
   ========= */

.view-width {
    width: 70%;
}

/* ========
    Navbar
   ======== */

#navbar {
    top: 0;
    padding: 0;
    width: 5em;
    height: 100vh;
    position: fixed;
    background-color: hsl(var(--background-secondary));
    transition: width .35s cubic-bezier(var(--transition-main), 1);
    overflow-y: auto;
    overflow-x: hidden;
}
#navbar:hover {
    width: 16em;
}
#navbar::-webkit-scrollbar-track {
    background-color: hsl(var(--background-secondary));
}
#navbar::-webkit-scrollbar {
    width: 8px;
    background-color: hsl(var(--background-secondary));
}
#navbar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
}
.navbar-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* Navbar Logo */
.navbar-logo {
    margin: 0 0 2em 0;
    width: 100%;
    height: 5em;
    background: hsl(var(--background-secondary-dark));
}
.navbar-logo > .navbar-item-inner {
    width: calc(5rem - 8px);
}
.navbar-logo > .navbar-item-inner:hover {
    background-color: transparent;
}
.navbar-logo > .navbar-item-inner > svg {
    height: 2em;
    fill: hsl(var(--white));
}
/* Navbar Items */
.navbar-item {
    padding: 0 .5em;
    width: 100%;
    cursor: pointer;
}
.navbar-item-inner {
    padding: 1em 0;
    width: 100%;
    position: relative;
    color: hsl(var(--quite-gray));
    border-radius: .25em;
    text-decoration: none;
    transition: all .2s cubic-bezier(var(--transition-main), 1);
}
.navbar-item-inner:hover {
    color: hsl(var(--white));
    background: hsl(var(--background-white));
    box-shadow: 0 17px 30px -10px hsla(var(--black), .25);
}
.navbar-item-inner-icon-wrapper {
    width: calc(5rem - 1em - 8px);
    position: relative;
}
.navbar-item-inner-icon-wrapper ion-icon {
    position: absolute;
    font-size: calc(var(--navbar-buttons) - 1rem);
}
.link-text {
    margin: 0;
    width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .35s cubic-bezier(var(--transition-main), 1);
    overflow: hidden;
    opacity: 0;
}
#navbar:hover .link-text {
    width: calc(100% - calc(5rem - 8px));
    opacity: 1;
}

/* ======
    Main
   ====== */

#main {
    margin: 0 0 0 5em;
    min-height: 150vh;
}
#main > h2 {
    width: 80%;
    max-width: 80%;
}
#main > p {
    width: 80%;
    max-width: 80%;
}

/* =============
    ::Selectors
   ============= */

/* Selection */
::selection {
    color: hsl(var(--white));
    background: hsla(var(--primary), .33);
}
/* Scrollbar */
::-webkit-scrollbar-track {
    background-color: hsl(var(--background));
}
::-webkit-scrollbar {
    width: 8px;
    background-color: hsl(var(--background));
}
::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
}

/* ===============
    5. @keyframes
   =============== */

/* ==============
    @media rules
   ============== */

@media only screen and (max-width: 1660px) {
    :root {
        /* Sizes */
        --heading-large: 5.4rem;
        --heading-medium: 3.4rem;
        --heading-small: 2.2rem;
    }
}
@media only screen and (max-width: 1456px) {
    :root {
        /* Sizes */
        --heading-large: 5.2rem;
        --heading-medium: 3.2rem;
        --heading-small: 2rem;
    }
    .view-width {
        width: 80%;
    }
}
@media only screen and (max-width: 1220px) {
    .view-width {
        width: 70%;
    }
}
@media only screen and (max-width: 1024px) {
    :root {
        /* Sizes */
        --heading-large: 5rem;
        --heading-medium: 3rem;
        --heading-small: 1.8rem;
    }
    .view-width {
        width: 75%;
    }
}
@media only screen and (max-width: 756px) {
    :root {
        /* Sizes */
        --heading-large: 4rem;
        --heading-medium: 2.6rem;
        --heading-small: 1.6rem;
        --paragraph: 1rem;
        --navbar-buttons: 2.2rem;
    }
    .view-width {
        width: calc(100% - 5em);
    }
}
@media only screen and (max-width: 576px) {
    .view-width {
        width: calc(100% - 3em);
    }
}
@media only screen and (max-width: 496px) {

}

* {
    box-sizing: border-box;
  }

.column {
    float: left;
    width: 25%;
    padding: 0 6px;
    background-color: #b5b2b2;
    color: #333;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.596);
    padding: 16px;
    text-align: center;
    background-color: #bfbfbf;
  }
button{background-color: #cdcdcd;
color: white;}


/* CSS */
.button {
  appearance: none;
  background-color: #333;
  border: 1px solid rgba(100, 100, 100, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.996) 0 1px 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button:hover {
  background-color: #ffffff;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #333;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button:active {
  background-color: #333;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:focus {
  outline: 1px transparent;
}

.button:before {
  display: none;
}

.button:-webkit-details-marker {
  display: none;
}



:root {
    --color: #b85328;
    --transition-time: 0.5s;
  }
  
  * {
    box-sizing: border-box;
  }
  p{
    color: #000000;
  }
h2 {
    color: #ff7f50;
}
  body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Open Sans';
    background: #f9f9f9;
  }
  
  a {
    color: inherit;
  }
  

  
  .ko {
  display: inline-flex;
  align-items: center;
  background-color: #0070ba;
  color: white;
  margin-left: 46%;
  margin-top: 2%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ko:hover {
  background-color: #005ea6;
}
.h11{
  align-items: center;
  text-align: center;
  margin-top: 4%;
}
.ko a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.ko svg {
  margin-right: 8px;
}
  
 
  
  .card h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
  }
  
  .card p {
    font-size: 0.75em;
    font-family: 'Open Sans';
    margin-top: 0.5em;
    line-height: 2em;
  }
  
  .card .tags {
    display: flex;
  }
  
  .card .tags .tag {
    font-size: 0.75em;
    background: rgba(196, 68, 18, 0.5);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, var(--transition-time);
  }
  

  


  
 
  
  .info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
  }
  
  .info img {
    height: 3em;
    margin-right: 0.5em;
  }
  
  .info h1 {
    font-size: 1em;
    font-weight: normal;
  }
  
  /* MEDIA QUERIES */
  @media screen and (max-width: 1285px) {
    .cards-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 900px) {
    .cards-wrapper {
      grid-template-columns: 1fr;
    }
    .info {
      justify-content: center;
    }
    .card-grid-space .num {
      margin-left: 0;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 500px) {
    .cards-wrapper {
      padding: 4rem 2rem;
    }
    .card {
      max-width: calc(100vw - 4rem);
    }
  }
  
  @media screen and (max-width: 450px) {
    .info {
      display: block;
      text-align: center;
    }
    .info h1 {
      margin: 0;
    }
  } 

/* Footer.css */



.footer .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  margin: 0 10px;
  color: #333;
}

.footer strong {
  color: #333;
}

.music-player {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fffefe;
}

.now-playing {
  margin-bottom: 20px;
}

.controls button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.controls button:hover {
  background-color: #0056b3;
}

.song-list ul {
  list-style-type: none;
  padding: 0;
}

.song-list li {
  margin-bottom: 5px;
}

.song-list button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.song-list button:hover {
  background-color: #e3e3e3;
}
.containerre{
  border: #000000;
  border-radius: 1px;
  padding: 5px;
  box-shadow: #000000;
  margin-top: 5%;
color: black;}
.dark-mode i{
  color: #000000;
}
.dark-mode p{
  color: white;
}
p{
  color:#404040
}
.dark-mode h1{
  color: white;
}
h1{color:#4b4b4b}

.face{
  text-align: center;
  align-items: center;
}
.dark-mode-icon{
  align-items: center;
text-align: center;
}
.dark-mode {
 
  background-color: #313131;
 
color: #ffffff; 
}
.center{
  align-items: center;
  text-align: center;
}

main {
  padding-top: 25px;
  color: azure;
  height: 100%;
  text-align: center;
}

.entry-form {
  color: rgb(9, 9, 9);
  background-color: rgb(255, 255, 255);
  width: 60%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border-style: outset;
  border-color: rgb(174, 80, 17);
  min-width: 400px;
  max-width: 700px;
  padding-top: 15px;
  padding-bottom: 50px;
  padding-left: 15px;
  margin-bottom: 10px;
}

.measurement-choice input{
  margin-right: 10px;
}

.gender-choice{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
}

.gender-choice select{
  font-size: 12px;
} 

label{
  padding-right: 10px;
}

.form-inputs {
  padding-top: 10px;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
}


.activity-level{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
}

.activity-level select{
  font-size: 12px;
} 

#calculate-btn {
  background-color: #cc3d0e;
  border-color: #b4490f;
  color: white;
}

#calculate-btn:hover {
  box-shadow: 0 5px 15px rgb(197, 66, 14);
}


.calorie-result h2, .calorie-result p {
  display: inline;
  padding-right: 5px;
}

.calorie-result p{
  font-size: 20px;
}
small a{
  color: azure;
}

small a:hover{
  color: rgb(199, 99, 36);
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}